<div class="container">
    <div class="box">
        <div class="first-box row">
            <h1>Viagem - Listar</h1>
        </div>
        <div class="second-box">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Tipo</td>
                        <td>Descrição</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
