<div class="container">
    <div class="box">
        <div class="first-box row">
            <h1>Viagem - Listar</h1>
        </div>
        <div class="second-box">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Idade</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Luci</td>
                        <td>Rosa</td>
                        <td>2</td>
                        <td>Gato</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
